.App {
  margin:30px;
  width:900px;
}

@media only screen and (max-width: 360px) {
  .App {
    margin:30px;
    width:360px;
  }
  body{
    font-size:10px
  }
}
:root{
  --sky-blue: #68a7ff;
  --white: #ffffff;
  --greeny-blue: #37b396;
  --greeny-blue-two: #4bb89e;
  --water-blue: #1999d2;
  --lipstick: #dd1c26;
  --red: #ff0000;
  --greyish-brown: #444444;
  --squash: #f5a626;
}
@font-face {
  font-family: DINPro;
  src: local(DINPro-Medium),
  url(assests/dinpro-font/DINPro-Medium\ tr.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: DINPro;
  src: local(DINPro-Bold),
    url(assests/dinpro-font/DINPro-Bold\ tr.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
header{
    font-family: DINPro;
    font-size: 18.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.97;
    letter-spacing: normal;
    text-align: left;
    color: var(--greyish-brown);
}
