body {
  margin: 0;
  font-family: DINPro;
  -webkit-font-feature-settings: "liga" 0;
  -moz-font-feature-settings:    "liga" 0;
  -ms-font-feature-settings:     "liga" 0;
  font-feature-settings:"liga" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
}
